<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a PhD student finishing up at the University of Florida. My research is in the broad area of virtual humans and mixed/virtual reality. Specifically, I look at how mixed reality humans can affect change in real people's communication skills.</p>
                </div>
                <div class="col-lg-4">
                    <p>My research potentially has real world impact on the quality of healthcare in the operating room. Additionally, my research provides insight on how virtual/mixed reality can be used to influence complex social behaviors.</p>
                </div>
            </div>
        </div>
    </section>